<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap systemai uap18">

	<Identity
	  Name="8bf9eaa4-ea72-409e-a9a9-f140f7540c9a"
	  Publisher="CN=Millennium Science Technology R&amp;D Inst"
	  Version="1.1.336.0" />

	<mp:PhoneIdentity PhoneProductId="8bf9eaa4-ea72-409e-a9a9-f140f7540c9a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>WUILiquidGlassDemo Hlsl</DisplayName>
		<PublisherDisplayName>hoshiizumiya</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="packagedClassicApp" >
			<uap:VisualElements
			  DisplayName="WUILiquidGlassDemo Hlsl"
			  Description="WUILiquidGlassDemo Hlsl"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/>
				</uap:InitialRotationPreference>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="liquidglassdemo">
						<uap:DisplayName>Liquid Glass</uap:DisplayName>
					</uap:Protocol>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>